/* This file desings the content sections- Work Experience and Education */

/* .content {
} */

.content .subtitle {
  font-size: 12px;
}

.content .project-list {
  padding-left: var(--space-medium);
  list-style: square;
  color: var(--color-green);
}
.content .project-list span {
  color: black;
}
.content .parallelgrid span {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid var(--color-gray);
  margin-bottom: var(--space-medium);
  padding: var(--space-small);
}

/* Tablets */
@media (min-width: 550px) {
  .content .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-medium);
  }
}
@media (min-width: 550px) {
  .content .parallelgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-big);
  }
}
/* Desktop */
@media (min-width: 750px) {
  .content .grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--space-big);
  }
}